header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:var(--secondary);
    color: #fff;
    width: 100%;
    letter-spacing: 3px;
    margin: 0;
    padding: 0.5rem 2rem;
    font-family: "Tomorrow";
    transition: all 0.3s;
    cursor: pointer;

    .title {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 2rem;
    }

    .logo {
        width: 150px;
        height: 50px;
        border-radius: 5px;
        object-fit: cover;
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        text-align: center;
        padding: 20px 10px;

        a {
            text-align: center;
            line-height: 40px;
            font-size: 1.1rem;
            text-decoration: none;
            transition: all 0.3s;
            color: var(--button);

            &:hover {
                color: var(--oposite);
            }
        }
    }
}

.mobile-icon,
.hamburger,
.close-icon {
    display: none;
}

@media screen and (max-width: 920px) {
    header {
        padding: 0.5rem;
    
        .logo {
            display: block;
            margin-top: 0px;
            width: 75px;
        }
    
        nav {
            display: none;
        }
    
        nav {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            background: var(--secondary);
            gap: 1rem;
            z-index: 2;
    
            .mobile-icon {
                display: block;
                font-size: 24px;
            }
    
            &.mobile-show {
                display: flex;
                flex-direction: column;
                gap: 50px;
                padding: 5rem 0;
                height: 100vh;
                animation: bounceInRight 1s;
    
                .text {
                    text-align: center;
                    display: block;
                    font-size: 24px;
                }
    
                .menu-container {
                    display: flex;
                    align-items: center;
                    width: 200px;
                    gap: 20px;
                }
            }
        }
    }
    
    .navbar-scroll {
        display: none;
    }
    
    .hamburger {
        display: block;
        position: absolute;
        top: 20px;
        right: 35px;
        font-size: 24px;
    }
    
    .close-icon {
        display: block;
        position: absolute;
        right: 35px;
        top: 2.5%;
        font-size: 24px;
    }
}