.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
  padding: 4rem 0;
}

.card-link {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
  width: 250px;
  height: auto;
  .card-img {
    max-width: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}

@media screen and (max-width: 768px) {
  .services-grid {
    padding: 0 0 4rem;
    gap: 2rem;
  }
}
